*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.block 

{
    width: 280px;
    height: 45px;
    border: 2px solid;
    background-color: rgb(168, 142, 193);
    text-align: center; 
    margin: 20px 20px;
    padding: 10px 10px ;
    
   
    
    }

body 
{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 100;
    font-size-adjust: initial;
    
}

.paragraph 
{ font-size: x-large;
   max-width: 1200px;
}

a 
{color: rgb(11, 10, 10);;
}

.container {

   max-width: 1280px;
   margin: 0 auto;
   padding: 0 15px;
}

.header-block {
    background-color: pink;
    margin: 0 auto;
    padding: 10px 0px; 
}

.references {max-width: width 1280px; 
    margin:  auto;
padding: 0px 0px}

table {
    background-color: white;
    border: 1px solid #000;
    padding: 3px;
}

th {
    border: 1px solid #333;
    padding: 3px;
}

td {
    border: 1px dotted #333;
    padding: 4px;
}

.colspan {
    background-color: aqua;
}

nav ul{
    display: flex;
    
    gap: 10px;
    
}

nav ul li{
    list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 22px;
  
}





